.page
{
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.content {
    padding-top: 1.1rem;
}

.sidebar {
    background-image: linear-gradient(18deg, rgb(5, 39, 105) %, #3a0647 70%);
}

.top-row {


}

@media {

}